@model IEnumerable<Report>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Target
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        @if (item.Type == Report.Types.Review)
        {
            <td>
                <a asp-action="Details" asp-controller="Reviews" asp-route-id="@item.TargetId" title="View Review">
                    View Review
                </a>
                <hr />
                <a asp-action="Delete" asp-controller="Reviews" asp-route-id="@item.TargetId" title="Delete the Reported Review">
                    Approve Report
                </a>
            </td>
        }
        if (item.Type == Report.Types.Image)
        {
            <td>
                <a asp-action="Details" asp-controller="Images" asp-route-id="@item.TargetId" title="View Review">
                    View Review
                </a>
                <hr />
                <a asp-action="Delete" asp-controller="Images" asp-route-id="@item.TargetId" title="Delete the Reported Review">
                    Approve Report
                </a>
            </td>
        }
        else
        {
            <td>
                Unknown
            </td>
        }
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
